<!DOCTYPE html>
<html>
<head>
  <title>夺宝站点页面抓取</title>
  <link rel='stylesheet' href='/stylesheets/style.css'/>
  <link rel='stylesheet' href='/stylesheets/bootstrap.css'/>
</head>
<body>
    <h1 class="text-center">相关夺宝站点抓取程序</h1>
    <ul>
        <li><a href="/duobao/yiyuan">一元夺宝</a></li>
        <li><a href="/duobao/lingqian">零钱夺宝</a></li>
        <li><a href="/duobao/quanmin">全民夺宝</a></li>
        <li><a href="/duobao/lingqiango">零钱购</a></li>
    </ul>
</body>
</html>